body {
  height: auto;
}

#title {
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0 auto;
  left: 0;
  background-color: black;
}

#legend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.legendsegment {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(159, 159, 159);
}

.legendsegment:hover {
  background-color: rgb(173, 173, 173);
}

.legendpics {
  max-width: 35px;
  max-height: 35px;
}

#heading {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.add-data {
  display: flex;
  align-items: center;
}

#survey {
  text-align: center;
  white-space: nowrap;
  width: 130px;
  height: 50px;
  border-radius: 5px;
  padding: 8px;
  line-height: 30px;
  background-color: steelblue;
  color: white;
  text-decoration: none;
}

#survey:hover {
  background-color: rgb(60, 112, 155)
}